<h1>Editing Labor Management Agreement</h1>

<%= render 'form', labor_management_agreement: @labor_management_agreement %>

<%= link_to 'Show', @labor_management_agreement %> |
<%= link_to 'Back', labor_management_agreements_path %>
